.dub
docs.json
__dummy.html
docs/
/dlang-linker-data
dlang-linker-data.so
dlang-linker-data.dylib
dlang-linker-data.dll
dlang-linker-data.a
dlang-linker-data.lib
dlang-linker-data-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*.a
example/reader
example/app1
